*{
    margin: 0;
    padding: 0;
}


/* navbar  */
.navbar{
    height: 50px;
}
.border:hover{
    border: 2px solid white;
}

.navbar-brand{
    color: rgb(255, 255, 255);
    font-family: "Titillium Web";
}

.nav-link{
    color: white;
    font-family: "Titillium Web";
    font-weight: 400;
}

.nav-signin a{
    color: white;
}

.nav-cart i{
    font-size: 32px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
} 

span{
    font-size: 0.7rem;
}

#navbarSupportedContent{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.cart-logo{
    font-size: 25px;
}

/* search bar(nav) */
.mr-5{
    margin-right:1rem!important;
}

.btn-outline-success{
    border-radius: 5px;
}

/* carousel css */

.card-img-top{      
    width: 100%;
    height: 15vw;
}

#carouselExampleCaptions img{
    max-height: 550px; 
    width: auto; 
}


.carousel-heading{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
}

.carousel-paragraph{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}


/* ruler */

.text-with-hr:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #D9E3CF;
    z-index: -1;
}

.fonts {
    font-weight: 400;
    font-family: "Titillium Web";
    font-size: 20px;
    color: #111111;
}

.text-with-hr {
    text-align: center;
    position: relative;
    z-index: 2;
}

.line-center{
    font-size: 1rem;
}


/* Signin */
.signin{
    margin-top: 50px;
    margin-bottom: 220px;
}


/* Footer */

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top:15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 220px;
    display: flex;
    justify-content: space-evenly;

}

ul{
    margin-top: 20px;
}

ul,.footer-link{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 1px white solid;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4{
    background-color: #2a686d;
    color: white;
    height: 60px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px ;
    
}