<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="foot-panel1">
            Back to Top
        </div>
        <div class="foot-panel2">
            <ul>
                <p>USEFUL LINKS</p>
                <a class="footer-link"> Rent a plant</a>
                <a class="footer-link"> E-store</a>
                <a class="footer-link"> Irrigations</a>
                <a class="footer-link"> Supply of plants</a>

            </ul>
            <ul>
                <p>INFORMATION</p>
                <a class="footer-link"> Terms and Conditions</a>
                <a class="footer-link"> Payment Options</a>
                <a class="footer-link"> About Vanaspati</a>
                <a class="footer-link"> Conatct us</a>

            </ul>
            <ul>
                <p>CUSTOMER SECTION</p>
                <a class="footer-link"> Sign-UP</a>
                <a class="footer-link"> My account</a>
            </ul> 
        </div>
        <div class="foot-panel3">
            <a class="footer-link" href=""><P>Vanasपती</P></a>
        </div>
        <div class="foot-panel4">
            <div class="pages">
                <a>Conditions of Use</a>
                <a>Privacy Notice</a>
                <a>Your ADs Privacy Choices</a>
            </div>
            <div class="copyright">
                © 2023-2024, Vanasपती.com, Inc. or its affiliates
            </div>
        </div>
</body>
</html>